<div class="row">
  <div class="col-md-12">
    <br>
    <h2>Employees</h2>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Employee Num</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th>Course ID</th>
          </tr>
        </thead>
        <tbody>
          {{#each employees}}
            <tr>
              <td>{{this.employeeNum}}</td>
              <td>{{this.firstName}} {{this.lastName}}</td>
              <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
              <td>{{this.addressStreet}}, {{this.addressCity}}, {{this.addressProvince}}</td>
              <td>{{this.status}}</td>
              <td>{{this.course}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <strong>{{message}}</strong>
  </div>
</div>
